<<<<<<< HEAD
.ClientSchedule{
    text-align: left;
    justify-content: center;
=======

.ClientSchedule{
    height: 54.3rem;
    background: linear-gradient(to bottom right, #6d2e46, #9A94BC);
>>>>>>> ad42eabac6bf37e19a4a1d14b9b7a820ee9f6cd9
}

.ClientSchedule .Container{
    margin: 2%;
    
}



.ClientSchedule .Title {
    margin-right: 15%;
    font-size: 25pt;
<<<<<<< HEAD
    color: #6d2e46;
    text-shadow: 3px #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    /* padding-top: 30px;
    padding-bottom: 30px; */
    align-items: center;
   
    
    
}

.ClientSchedule .Services .Dropboxx{

    /* padding-right: 10px;
    padding-left: 50px;
    margin: 20px; */
}

.ClientSchedule .Services .Calendar {
    /* margin: 20px; */
=======
    color: white;
    text-shadow: 2px #000000;
    font-family: 'Poiret One', cursive;
    font-stretch: expanded;
    flex: flex;
    text-align: center;
    margin-bottom: 2%;
}

.Services {
    padding: 2%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid #6d2e46;

}

.button {
    background-color: #6d2e46;
>>>>>>> ad42eabac6bf37e19a4a1d14b9b7a820ee9f6cd9
}


.Services .Button{
    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif; 
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    background-color: #ffff;
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    
    
}

.Services .Button:hover {
    background-color: #6d2e46;
    box-shadow: 0px 7px 12px #6d2e46;
    color: #ffffff;
    transform: translate(-5px);
}




