.ClientFeedback {
    height: 100vh;
    background: linear-gradient(to bottom right, #6d2e46, #9A94BC);
}

.ClientFeedback .Container {
    margin: 2%;
}

.ClientFeedback .FeedbackContainer {
    border: 5px solid #6d2e46;
    background: white;
    padding: 2%;
}
.ClientFeedback .FeedbackForm .FeedbackFormat {
    display: flex;
    justify-content: center;
   
    margin-top: 3%;
}

.StarGuide {
    display: flex;
    justify-content: space-between;
    
}

.StarGuide {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
}