@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Pinyon+Script');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

.LandingPage {
    height: 100vh;
    background: linear-gradient(to bottom right, #6d2e46, #9A94BC);
}

.App-header {
    display: flex;
    justify-content: flex-end;
    height: 8%;
    margin-bottom: 1%;
    margin-top: 0%;
	padding: 1%;
	font-size: 1.2rem;
  }
  
.link {
    color: white;
	padding: 1%;
	
    
}  

.link:hover {
	color: orange;
}

.LandingTitle {
	text-align: center;
	color: rgb(255, 255, 255, .5);
	margin-bottom: .5%;
	font-size: 6rem;
	font-weight: 200;
	font-family: 'Poiret One', cursive;
}


.text {
    text-align: center;
}

.scheduleButton {
	margin-top: 1%;
    margin-left: 45%;
	width: 10%;
	height: 7%;
	color: white;
	background-color: #6d2e46;
}