.App {
  text-align: center;
}


.App-header {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  height: 8%;
  margin-bottom: 10%;
  margin-top: 1%;
  padding: 1%;
  
}

.Link {
  margin-left: 5px;
}
