.App {
  margin-left: 5%;
  margin-right: 5%;
  
}

.App-header {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  height: 8%;
  margin-bottom: 0%;
  margin-top: 1%;
  padding: 1%;
  
}

.Link {
  margin-left: 5px;
}
